<%= erb :'/search/main' %>

<div class="all">

  <table>
    <% @searches.each do  |search| %>
      <tr>
        <th>
          <a href="/search/<%= search.id %>"><h1><%= search.term %></h1></a>
        </th>
        <td>
          <%= search.date_posted %>
        </td>
      </tr>
    <% end %>
  </table>

</div>
