<div class="main_bar">

  <form action="/search" method="POST" >
          <input type="text" name="search[term]" class="edit_short">
          <input type="submit" value="" style="border-style: none; background: url('/img/search-icon.png') no-repeat; width: 24px; height: 22px;">
  </form>



</div>
