<div class="main_bar">

  <form action="/search" method="POST">
    <input type="text" name="search[term]">
  </form>

  <a href="/search/#{@new_search.id}"><img src="/img/search-icon.png" class="search_icon"></a>

</div>
