<div class="main_bar">

  <form action="/search" method="POST" >
    <input type="text" name="search[term]" class="edit_short">
    <input type="submit" value="" class="search_icon">
  </form>

</div>
