<div class="main_bar">

  <form action="/search" method="POST" >
    <input type="text" name="search[term]" class="edit_short">
    <input type="submit" value="" class="search_icon">
  </form>

</div>


<div class="show_results">

  <% unless @search.term == nil %>
    <h4>Results for <%= @search.term %>:</h4>

      <% unless @search.tweet_url == nil %>
        <h4>Twitter:</h4>
      <% end %>

      <% unless @search.youtube_url == nil %>
        <h4>Youtube:</h4>
          <%  @youtube = @search.youtube_url %>
          <%= erb :'youtube/show' %>
      <% end %>

      <% unless @search.reddit_url == nil %>
        <h4>Reddit:</h4>
      <% end %>


  <% end %>

</div>
