html, body {
  margin: 40px auto;
  width: 600px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

header {margin: 0 0 50px;}

header h1 {
  display: inline;
  font-size: 1.5em;
  padding: 2% 10%;
  border: solid;
  border-width: 2px;
  border-color: #0066CC;
  color: #333333;
  font-weight: 500;
}

header h1 a:link, header h1 a:visited {
  text-decoration: none;
  color: #999999;
}

header h2 {
  font-size: 1em;
  font-style: italic;
  color: #999999;
  padding: 2%;
}

h3 {font-size: 1.1em;}

p {margin-bottom: 5%;}

a {color: #0066CC;}

a:hover {
  color: #999999;
  cursor: crosshair;
}

img {border: none;}

table {
    margin: 7% auto;
    border: 1px solid #333333;
    border-collapse: collapse;
    width: 90%;
}

tr {
    margin: 5% 15%;
    width: 60%;
    padding: 2%;
}

th {
    text-align: center;
    border: 1px solid #B2B2B2;
}

td {
   border: 1px solid #B2B2B2;
   width: 30%;
   color: #333333;
}

td a {color: #999999;}

td a:hover {
  color: #0066CC;
  cursor: crosshair;
}

.logo {height: 7em;}

.search_bar {
  width: 60%;
  margin: 2% 0 5% 0;
  padding: 1% 3%;
}

.search_icon {
  border-style: none;
  background: url('/img/search-icon.png') no-repeat;
  width: 22px;
  height: 22px;
}

.description {
    text-align: left;
    vertical-align: baseline;
    width: 60%;
}

.commands {
  display: inline-block;
  margin: 0 1% 5% 1%;
  float: right;
}

.button {
  margin: 2% 1% 5% 1%;
  display: block;
  float: right;
}

.button2 {
  margin: 2% 1% 5% 1%;
  display: block;
}

.crosshair { cursor: crosshair;}

.edit_short {
  width: 60%;
  margin: 5%;
  padding: 1% 3%;
}

.edit_long {
  width: 60%;
  height: 100px;
  margin-bottom: 5%;
  padding: 1% 3%;
}

.footer {
  margin: 15% 0;
  display: block;
  position: relative;
}

#main {margin: 0 0 20px;}


/*================= CSS below this line is an adaptation of Pure v0.5.0 =================*/

.menu ul {
    position: absolute;
    visibility: hidden;
}

.menu.menu-open {
    visibility: visible;
    z-index: 2;
    width: 100%;
}

.menu ul {
    left: -10000px;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -10000px;
    z-index: 1;
}

.menu > ul { position: relative; }

.menu-open > ul {
    left: 0;
    top: 0;
    visibility: visible;
}

.menu-open > ul:focus {
    outline: 0;
}

.menu li { position: relative; }

.menu a,
.menu .menu-heading {
    display: block;
    color: inherit;
    line-height: 1.5em;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap;
}

.menu.menu-horizontal > .menu-heading {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    vertical-align: middle;
}
.menu.menu-horizontal > ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.menu li a {
  padding: 5px 20px;
}

.menu li a:hover {
  color: #0066CC;
  text-decoration: underline;
}

.menu-can-have-children > .menu-label:after {
    content: '\25B8';
    float: right;
    margin-right: -20px;
    margin-top: -1px;
}

.menu-can-have-children > .menu-label {
    padding-right: 30px;
}

.menu-separator {
    background-color: #dfdfdf;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}

.menu-hidden {
    display: none;
}

/* FIXED MENU */
.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


/* HORIZONTAL MENU */

/* Initial menus should be inline-block so that they are horizontal */
.menu-horizontal li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

/* Submenus should still be display: block; */
.menu-horizontal li li {
    display: block;
}

/* Content after should be down arrow */
.menu-horizontal > .menu-children > .menu-can-have-children > .menu-label:after {
    content: "\25BE";
}
/*Add extra padding to elements that have the arrow so that the hover looks nice */
.menu-horizontal > .menu-children > .menu-can-have-children > .menu-label {
    padding-right: 30px;
}

/* Adjusting separator for vertical menus */
.menu-horizontal li.menu-separator {
  height: 50%;
  width: 1px;
  margin: 0 7px;
}

/* Submenus should be horizontal separator again */
.menu-horizontal li li.menu-separator {
  height: 1px;
  width: auto;
  margin: 7px 2px;
}

