/*
body {font-family: "HelveticaNeue-Light"; font-size: 160%; line-height: 160%; }
h1, h2, h3, h4, h5, h6 {font-family: "HelveticaNeue-Light"; line-height:100%; margin-top: 0.5em; margin-bottom: 0.5em; color: #36AECC; font-style: italic; font-weight: 400;}
h1 {font-size: 1.8em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.3em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;}
p, pre, blockquote, table, ul, ol, dl {margin-top: .5em; margin-bottom: .5em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}
li {margin: 0.3em auto;}
ul {margin-left: .5em; padding-left: 0.5em;}
dt {font-weight: bold;}
img {border: none;}
pre {border-left: 1px solid #ccc; margin-left: 0em; padding-left: 0.5em;}
blockquote {padding: 0.3em; background-color: #E8F2F5; margin-left:0.5em; margin-right:0;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #E8F2F5; width: 100%;}
del {text-decoration: line-through; color: #777777;}
.toc li {list-style-type: none;}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}
.center {margin-left: auto; margin-right: auto;}

footer { font-size: 0.7em; margin-top: 2em;}

#content { margin: 0 auto; padding: 0 1em; max-width: 37em; position: relative; width: 61.8%;}

a {
    color: #666666;
    text-decoration: none;
}

a:visited {
    color: #AAA;
}

a:hover {
    color: #000;
    text-decoration: underline;
}



code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0px 3px;
    display: inline-block;
    color: #52595d;
    background-color: #E8F2F5;
    font-size: 40%;
    line-height: 1.4em;
    margin-left: -1em;
    overflow: auto;
}
.logo {
  height: 7em;
}*/


html, body {
  margin: 40px auto;
  width: 600px;
  font-family: 'HelveticaNeue-Light', sans-serif;
  text-align: center;
}

header {
  margin: 0 0 50px;
}

header h1 {
  display: inline;
  font-size: 1.5em;
  padding: 2% 10%;
  border: solid;
  border-width: 2px;
  border-color: #0066CC;
  color: #333333;
  font-weight: 500;
}

header h1 a:link, header h1 a:visited {
  text-decoration: none;
  color: #999999;
}

header h2 {
  font-size: 1em;
  font-style: italic;
  color: #999999;
  font-family: 'HelveticaNeue-Light', sans-serif;
  padding: 2%;
}

h3 {
  font-size: 1.1em;
}

p {
  margin-bottom: 5%;
}

img {border: none;}

table {
    margin: 7% 0 2% 0;
    border: 1px solid #333333;
    border-collapse: collapse;
    width: 100%;
}

tr {
    margin: 5% 15%;
    width: 60%;
}

th {
    text-align: center;
    padding: 1.5%;
    border: 1px solid #B2B2B2;
    background-color: #E6E6E6;
}

td {
   padding: 5%;
   border: 1px solid #B2B2B2;
}

.logo {
  height: 7em;
}
.search_icon {
  background-image: url('/img/search-icon.png');
  background-repeat: no-repeat;
  border: 0;
  background-color: none;
  outline: 0;
}

.description {
    text-align: left;
    vertical-align: baseline;
    width: 60%;
}

.commands {
  display: inline-block;
  margin: 0 1% 5% 1%;
  float: right;
}

.button {
  margin: 2% 1% 5% 1%;
  display: block;
  float: right;
}

.button2 {
  margin: 2% 1% 5% 1%;
  display: block;
}

.edit_short {
  width: 60%;
  margin-bottom: 5%;
  padding: 1% 3%;
}

.edit_long {
  width: 60%;
  height: 100px;
  margin-bottom: 5%;
  padding: 1% 3%;
}

footer {
  margin: 15% 0;
  display: block;
  position: relative;
}

#main {
  margin: 0 0 20px;
}
