<div class="signup_form">
  <form action="/signup" method="POST">

    <h4>Username:</h4>
    <input type="text" name="user[name]" class="edit_short">

    <h4>Password:</h4>
    <input type="password" name="user[password]" class="edit_short">

    <h4>Confirm Password:</h4>
    <input type="password" name="user[password_confirmation]" class="edit_short">

    <h4>Email:</h4>
    <input type="text" name="user[email]" class="edit_short">

    <div class="button2">
        <input type="submit" value="Begin the Moose Search">
    </div>

  </form>
</div>
