<div class="signup_form">
  <form action="/signup" method="POST">

    <h4>Username:</h4>
    <input type="text" name="user[name]">

    <h4>Password:</h4>
    <input type="password" name="user[password]">

    <h4>Confirm Password:</h4>
    <input type="password" name="user[password_confirmation]">

    <h4>Email:</h4>
    <input type="text" name="user[email]">

    <div class="button2">
        <input type="submit">
    </div>

  </form>
</div>
